*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #eac1ff;
}

.header-login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-login h1{
    margin-left: 2%;
}

.header-ul{
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
    padding-top: 5px;
}
.titulos{
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
.nav-item:hover{
    background-color: blue;
    font-weight:900;
}

.carousel-inner img{
   height: 60vh;
}

#vehiculosdestacados{
    margin: 50px 20px;
    height: 100vh;
    max-width: 95%;
}

#vehiculosdestacados h2{
    height: 10%;
    font-size: 8vh;
    text-align: center;
}
.contenedor{
    height: 100%;
}
.img-destacados{
    height: 90%;
}
.altdest{
    height: 50%;
    margin: 10px 0px;
}

.altdest img{
    height: 100%;
}
.col1{
    display: flex;
    column-gap: 1.5%;
}
.col1 img{
    width: 51.5%;
}
.col2{
    display: flex;
    column-gap: 1.5%;
}
.col2 img{
    width: calc(97% / 3);
}

#cuenta{
    text-align: center;
}
#cuenta-div{
    display: flex;
    justify-content: space-evenly;
}

.cuenta-card{
    display: flex;
    height: 400px;
    width: 46%;
    border: 2px black solid;
    border-radius: 15px;
    justify-content: center;
}

.conteiner-mail{
    padding: 10px;
    align-items: flex-end;
}

.conteiner-nombre{
    display: flex;
    align-items: flex-end;
}
.conteiner-telefono{
    display: flex;
    align-items: flex-end
}



#comprar{
    font-size: 30px;
    border-radius: 7px;
    justify-content: center;
    margin-bottom: 10px;
}
#comprar:hover{
    background-color: blue;
}
.input-conteiner{
    margin: 10px;
    height: 35px;
}

.conteiner-precio-inicial{
    font-size: 20px;
    font-weight: 30px;
    padding-right: 8px;
}
.precio-cuenta{
    font-size: 30px;
    font-weight: 30px;
}
.conteiner-precios{
    align-items:baseline;
    justify-content: center;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.caja-input-cuenta{
    margin-bottom: 10px;
}
.btn-cuenta{
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
    border: 2px black solid;
}
.btn-cuenta:hover{
    color: blue;
}
.titulo-carta{
    display: flex;
    justify-content: center;
    margin: 70px;
    font-size: 50px;
}
.carta-columna{
    display: flex;
}

.card{
    margin: 30px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#carrito{
    width: 40%; 
    background-color: lightcoral; 
    height: auto;
    top: 50%;
    left: 70%;
    position: sticky;

}
#carrito h2{
    display: flex;
    justify-content: center;
    font-family: cursive;
}
td{
    height: 40px;
}
.botones-carrito{
    width: 30px;
    border-radius: 30px;
    font-size: 30px;
}
.botones-carrito:hover{
    background-color: blue;
}
.carrito-img{ 
    height: 60px;
    width: 60px;
}

.btnvendido{
   background-color: red;
}
.btnvendido{
    background-color: none;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
}
footer p{
    justify-content: center;
    display: flex;
}
.buttons {
    min-width: 600px;
    display: flex;
    justify-content: space-around;
}
.buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
}
.buttons a:hover {
    transform: scale(1.2);
}